html,
body,
#root {
  height: 100%;
}
body {
  font-family: Roboto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-1 {
  flex: 1;
}
/* ----------------------------- */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9e9c9c;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
  background: #635e5e;
}

::-webkit-scrollbar-corner {
  background: #f1f1f1;
}
/* ----------header----------- */
.header .navbar {
  height: 91px;
  background-color: #fff !important;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 70px;
}
.nav-links a.active {
  color: #008080;
}
.nav-links a {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
.header-logo {
  display: flex;

  width: 140px;
  height: 60px;
}
.header-logo img {
  width: 100%;
  height: 100%;
}
/* -------hero section---- */
.main-container {
  padding-top: 90px;
}
/* .hero-section {
  background-image: url(/assets/images/hero3.webp);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
} */
.hero-img {
  width: 100%;
  height: 100vh;
}
.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.hero-text {
  position: absolute;

  bottom: 27%;
  z-index: 11;
  left: 31%;
  text-align: center;
  color: #fff;
  background: black;
  padding: 40px 20px;
  /* width: 600px; */
  background-color: rgba(103, 109, 127, 0.563);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  /* z-index: 1111; */
  border-radius: 4px;
}
.hero-text h5 {
  /* text-transform: uppercase; */
  font-size: 42px;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.hero-text h4 {
  /* text-transform: uppercase; */
  font-size: 16px;
  letter-spacing: 0.2rem;
  font-weight: 500;
}
.hero-text a {
  /* text-transform: uppercase; */
  font-size: 24px;
  letter-spacing: 0.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}
.layer {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.offcanvas-backdrop.show {
  /* display: none; */
}
.service-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.services-card {
  border: none;

  height: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.services-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.services-card .card-img-top {
  width: 100%;
  height: 240px;
}
.services-card .card-img-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.checks {
  display: flex;
  align-items: center;
  gap: 8px;
  iconify-icon {
    font-size: 24px;
    color: #008080;
  }
}
.clinet-conatiner {
  padding: 80px 0;
}
.client-image {
  width: 100%;
  height: 400px;
}
.client-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.choose-card {
  padding: 80px;
  border-radius: 18px;
  border: none;
  background-color: #008080;
}
.choose-image {
  width: 100%;
  height: 250px;
}
.choose-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.footer-container {
  background-color: #008080;
}
.footer-top {
  padding: 60px 0;
}
.footer-links a {
  color: #fff !important;
  text-decoration: none;
  font-size: 16px;
}
.footer-logo-circle {
  background-color: #ebebeb;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer-links h3 {
  font-size: 16px;
}
.credit h3 {
  display: block;
}
.credit h4 {
  display: none;
}
.footer-logo-circle {
  width: 170px;
  height: 150px;
}
.offcanvas-header .btn-close:focus {
  box-shadow: none !important;
}
/* ---------------------- */
/* {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */
/* -------custom colors------ */
.border-b {
  border-bottom: 1px solid #fff;
}
.green-text {
  color: #08dd55;
}
.secondary-text {
  /* color: #199ed3; */
  color: #008080;
}
.text-gray {
  color: #54595f;
}
.primary-text {
  color: #008080;
}
/* ---------end custom colors------ */

.fs-9 {
  font-size: 9px;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-32 {
  font-size: 32px;
}
.fs-36 {
  font-size: 36px;
}
.fs-48 {
  font-size: 48px;
}
.fs-60 {
  font-size: 60px;
}

/* ------custom font-weights------- */
.fw-200 {
  font-weight: 200;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.bouncing-blobs-container {
  z-index: -1;
}
.border-teal {
  border: 1px solid #15634c;
}
.section-newsletter-1 .input-group .form-control {
  background: #f3f4f6 !important;
  min-height: 60px !important;
  color: #111827 !important;
}

.bg-neutral-100 {
  background-color: #f3f4f6 !important;
}
.pt-120 {
  padding-top: 120px;
}
.pb-120 {
  padding-bottom: 120px;
}
.fix {
  overflow: hidden;
}
.bouncing-blobs-container,
.bouncing-blobs-glass {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bouncing-blobs-glass {
  z-index: 2;
  background: hsla(0, 0%, 100%, 0.1);
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  pointer-events: none;
}
.bouncing-blobs {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bouncing-blob--green {
  width: 551.056px;
  height: 987.859px;
  border-radius: 987.859px;
  background: #64e1b0;
  opacity: 0.28;
}

.bouncing-blob--primary {
  height: 419.259px;
  width: 842.878px;
  border-radius: 842.878px;
  opacity: 0.15;
  background: #6d4df2;
}
.bouncing-blob {
  width: 32vw;
  aspect-ratio: 1;
  border-radius: 50%;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform-origin: left top;
}
.section-padding {
  padding: 120px 0;
}
.bg-primary-light {
  background-color: #a38cff !important;
}
.rotate-center {
  animation: rotate-center 15s linear infinite;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}
.bloom {
  height: 80px;
  position: relative;
  width: 80px;
}
.bloom::before {
  background: linear-gradient(22.5deg, #fff, #794aff);
}
.bloom::before,
.bloom::after {
  border-radius: 100%;
  content: "";
  display: block;
  height: 80px;
  width: 80px;
}
.bloom:after {
  animation: scale 1.5s infinite;
  border: 1px solid #e2e2e2;
  left: 0;
  position: absolute;
  top: 0;
}
.bg-rotate {
  bottom: -15%;
  left: -10%;
}
.end-n10 {
  right: 40px;
  top: 80px !important;
}
.backdrop-filter {
  background: hsla(0, 0%, 100%, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: inset 1px 2px 0 0 hsla(0, 0%, 100%, 0.6),
    -12px 36px 44px 0 rgba(127, 124, 168, 0.18);
}

@keyframes scale {
  0%,
  50% {
    opacity: 0;
  }
  55% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
/* --------------------- */
@media (max-width: 1440px) {
  .hero-section {
    height: 90vh;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .menu-icon {
    align-items: center;
    color: #000000;
    font-size: 28px;
    cursor: pointer;
  }
  .header-logo {
    display: flex;
    width: 120px;
    height: 50px;
  }
  .header-logo img {
    width: 100%;
    height: 100%;
  }
  .nav-links {
    display: flex;
    align-items: start;
    gap: 20px;
  }
  .header-button Button {
    width: 100%;
  }
  .offcanvas {
    width: 100% !important;
    border: none !important;
  }
  .hero-text h2 {
    font-size: 24px;
  }
  .hero-text h3 {
    font-size: 16px;
  }
  .hero-text h2 br {
    display: none;
  }
  .hero-section {
    height: 45vh;
  }
  .hero-text {
    gap: 10px;
  }
  .clinet-conatiner {
    padding: 40px 15px;
  }
  .clients-left h3 br {
    display: none;
  }
  .clients-left h2 {
    font-size: 28px;
  }
  .client-image {
    width: 100%;
    height: 238px;
  }
  .client-image img {
    width: 100%;
    height: 100%;
  }
  .services h2 {
    font-size: 36px;
  }
  .choose-card {
    padding: 40px 20px;
    border-radius: 18px;
  }
  .choose-image {
    width: 100%;
    height: 234px;
  }
  .choose-image img {
    width: 100%;
    height: 100%;
  }
  .credit h3 {
    display: none;
  }
  .credit h4 {
    display: block;
  }
  .header .navbar {
    height: 80px;
  }
  .main-container {
    padding-top: 78px;
  }
}
